<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger Configuration -->
    <logger name="com.telegram.bot" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

<!--    <logger name="org.telegram.telegrambots" level="WARN" additivity="false">-->
    <logger name="org.telegram.telegrambots" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
